version: '3.8'

services:
  api:
    build: .
    container_name: boutiquerugs_scraper
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./competitor_analysis.json:/app/competitor_analysis.json # Persist local file if needed
